{% extends 'template.html.twig' %}

{% block title %}Liste des personnes{% endblock %}

{% block body %}
<div class="row">
    {% for users in users %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ users.username }}</h5>
            <p class="card-text">Utilisateur simple</p>
            <a href="{{ path('affichage.id', {"id": users.id}) }}" class="card-link">
                <i class="fas fa-info-circle"></i>
            </a>
            <a href="{{ path('user.delete', {id: users.id}) }}" class="card-link">
                <i class="fas fa-user-times"></i>
            </a>
            <a href="" class="card-link">
                <i class="fas fa-user-edit"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


